*{box-sizing: border-box;}
body{
    background-color: black;
}
h1{
    text-align: center;
    color: aliceblue;
}
.mundo{
    text-align:center;
    color: green;
}
.holamundo{
    background-image: url(/images/fondomundo.jpg);
}
.marte{
    text-align:center;
    color: orangered;}